<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Synchronous ToDo List App</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<body>
	<h1>Hallo, Welt!</h1>
	<div th:unless="${#lists.isEmpty(alltodos)}">
		<table class="w3-table-all w3-hoverable">
			<tr class="w3-teal">
				<th> Item</th>
				<th> Action </th>
			</tr>
			<tr th:each="item : ${alltodos}">
				<td th:text="${item}"/>				
				<td>					
				</td>	
			</tr>
		</table>
	</div> 
	<form method="GET" th:action="@{|/a|}">
						<input class="w3-button w3-black" type="submit" value="Get All Todos" />
					</form>
</body>
</html>